[submodule ".github/actions/backport"]
	path = .github/actions/backport
	url = https://github.com/tibdex/backport
[submodule ".github/actions/changelog"]
	path = .github/actions/changelog
	url = https://github.com/CharMixer/auto-changelog-action
[submodule ".github/actions/action-dotenv-to-setenv"]
	path = .github/actions/action-dotenv-to-setenv
        url = https://github.com/c-py/action-dotenv-to-setenv.git
	branch = tags/v3
[submodule ".github/actions/json-to-variables"]
	path = .github/actions/json-to-variables
	url = https://github.com/antifree/json-to-variables.git
	branch = tags/v1.0.1
