# ---------------------------------------------------------------------------
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ---------------------------------------------------------------------------

name: Automatic Updates

on:
  schedule:
    - cron:  '30 0 * * *'
  workflow_dispatch:

jobs:
  main:
    if: github.repository == 'apache/camel-k'
    runs-on: ubuntu-20.04
    name: Generate changelog for main branch
    steps:
    - name: "Checkout code"
      uses: actions/checkout@v2
      with:
        ref: main
        persist-credentials: false
        submodules: recursive
    - name: Automatic updates on main
      uses: ./.github/actions/automatic-updates
      with:
        branch-ref: "main"
        secretGithubToken: ${{ secrets.GITHUB_TOKEN }}
        goVersion: "1.18.x"

  v1_10_x:
    if: github.repository == 'apache/camel-k'
    runs-on: ubuntu-20.04
    steps:
    - name: "Checkout code"
      uses: actions/checkout@v2
      with:
        ref: release-1.10.x
        persist-credentials: false
        submodules: recursive
    - name: Automatic updates on release-1.10.x
      uses: ./.github/actions/automatic-updates
      with:
        branch-ref: "release-1.10.x"
        secretGithubToken: ${{ secrets.GITHUB_TOKEN }}
        goVersion: "1.17.x"

  v1_11_x:
    if: github.repository == 'apache/camel-k'
    runs-on: ubuntu-20.04
    steps:
    - name: "Checkout code"
      uses: actions/checkout@v2
      with:
        ref: release-1.11.x
        persist-credentials: false
        submodules: recursive
    - name: Automatic updates on release-1.11.x
      uses: ./.github/actions/automatic-updates
      with:
        branch-ref: "release-1.11.x"
        secretGithubToken: ${{ secrets.GITHUB_TOKEN }}
        goVersion: "1.17.x"
