# ---------------------------------------------------------------------------
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ---------------------------------------------------------------------------

name: Nightly automatic updates PR

on:
  pull_request:
    branches:
      - main
      - "release-*"
    paths:
      - 'pkg/**'
      - 'cmd/**'
      - 'addons/**'
  push:
    branches:
      - main
      - "release-*"
    paths:
      - 'pkg/**'
      - 'cmd/**'
      - 'addons/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  pr-automatic-updates:
    runs-on: ubuntu-latest
    steps:

    - name: Check out code
      uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}
        fetch-depth: 0

    - name: Install Go
      uses: actions/setup-go@v4
      with:
        go-version-file: "go.mod"
        check-latest: true

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    # Autogenerated resources
    - name: Run project refresh actions
      shell: bash
      run: |
        make generate codegen update-docs

    - name: Run Test
      shell: bash
      run: |
        go test -v ./... -covermode=count -coverprofile=coverage.out
